<section id="lists-getting-listed">
    <div class="heading" data-bg="<%= image_path 'card-heading/4.jpg' -%>">
        <h1>Getting Listed</h1>
    </div>
    <div class="inner">
        <p>Are you a Heathen artist? Then we'd love to include you! To be added, simply contact the
        Hearth (see
        <%= link_to 'bottom of page', '#site-footer' %> for ways to do so) and give us the
        information listed below. Please understand these lists are specifically intended for
        Heathens, whether they call themselves Ásatrú, Odinist, Norse/Germanic Pagan, Theodish,
        Urglaawe, or anything else. Celtic Reconstructionists are also welcome, in recognition that
        we are, historically, the same family.</p>

        <ul>
            <li>Business/project name</li>
            <li>Contact email and/or phone (so we may reach you with any questions; we do not
                share this information with anyone)</li>
            <li>Suggested categories</li>
            <li>Availability of custom orders (where applicable)</li>
            <li>Website of your business/project (multiple addresses are fine)</li>
            <li>A short and plain description of what you do.</li>
        </ul>
    </div>
</section>