<%= render 'static/essentials/menu' %>

<section>
    <div class="heading" data-bg="<%= image_path 'card-heading/2.jpg' -%>">
        <h1>Vættir</h1>
    </div>
    <div class="inner">
        <p class="big">THIS IS JUST A STUB</p>
    </div>
</section>

<section>
    <div class="inner">
    </div>
</section>

<section>
    <div class="inner">
    </div>
</section>

<section>
    <div class="inner">
    </div>
</section>

<section>
    <div class="inner">
    </div>
</section>

<section>
    <div class="inner">
    </div>
</section>
