<%= render 'admin/menu' %>

<section>
    <h1>Administration</h1>

    <p class="big">Welcome to the administrative interface for the Fincastali Hearth website. From
    here you can manage various resources. Please be careful. For the sake of security, be sure to
    <%= link_to 'logout', admin_logout_path %> when done.</p>
</section>
