.sidebar {
  @include flex(0 0 300px);
  min-height: 100vh;

  &__content {
    @include flex-direction(column);
    display: flex;
  }

  &__heading {
    @include heading--font;
    font-size: 2rem;
    line-height: 1;
    padding: 1rem;
  }

  &__item {
    @include flex(1 0);
    font-size: 1rem;
    line-height: 1;
    padding: 1rem;

    a { display: block; }
  }
}
