<section id="admin-menu" class="menu">
    <h2>Resources</h2>

    <%= link_to 'Lists', '#' %>

    <h2>Other</h2>
    <%= link_to 'Return to Main Site', root_url %>
    <%= link_to 'Logout', admin_logout_path, method: :delete %>

</section>