<section id="admin-menu" class="menu">
    <span class="title">Resources</span>
    <%= link_to 'Lists', admin_lists_path %>
    <%= link_to 'List Entities', admin_list_entities_path %>

    <span class="title">Other</span>
    <%= link_to 'Main Site', root_url %>
    <%= link_to 'Logout', admin_logout_path, method: :delete %>
</section>