<% active ||= nil %>
<section id="admin-menu" class="menu">
    <span class="title">Resources</span>
    <%= link_to 'Lists'         , admin_lists_path          , class: (active == :list           ? 'active' : '') %>
    <%= link_to 'List Entities' , admin_list_entities_path  , class: (active == :list_entity    ? 'active' : '') %>

    <span class="title">Other</span>
    <%= link_to 'Main Site', root_url %>
    <%= link_to 'Logout', admin_logout_path, method: :delete %>
</section>