<% cache 'site-footer' do -%>
    <footer id="site-footer">
        <div id="site-contact">
            <div id="site-contact-social-media">
                <%= link_to(
                    image_tag('social-media/facebook.png'),
                    SocialMedia::FACEBOOK_URL,
                    'data-hover' => 'facebook'
                ) -%>
                <%= link_to(
                    image_tag('social-media/tumblr.png'),
                    SocialMedia::TUMBLR_URL,
                    'data-hover' => 'tumblr'
                ) -%>
                <%= link_to(
                    image_tag('social-media/twitter.png'),
                    SocialMedia::TWITTER_URL,
                    'data-hover' => 'twitter'
                ) -%>
                <%= link_to(
                    image_tag('social-media/youtube.png'),
                    SocialMedia::YOUTUBE_URL,
                    'data-hover' => 'youtube'
                ) -%>
            </div>
            <div id="site-contact-direct">
                <div>fincastali@gmail.com</div>
                <div>(270) 313-8873</div>
            </div>
        </div>
        <div id="site-copyright">Copyright &copy; 2014 Fincastali Hearth. All rights reserved.</div>
    </footer>
<% end -%>