.nav {
  &--footer {
    .nav__item {
      padding: 0.5rem;
      text-align: right;
    }
  }

  &--sidebar {
    @include position(fixed, 4rem 0 null 0);
    width: $sidebar--width;

    .nav__item { padding: 0.5rem 1rem; }
  }

  &__item {
    display: block;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1100px) {
  .nav--sidebar .nav__item:hover {
    background-color: $fg-black-divider;
  }
}
