.page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  z-index: 0;

  &__body {
    @include common--transition(left, padding-top);
    @include position(relative, null null null 0);
    box-shadow: 0 0 1rem $fg-black;
    display: flex;
    flex: 1 1 85%;
    flex-direction: column;
    min-width: 300px;
    padding-top: 0;
    z-index: 10;

    @include breakpoint(page, hidden_sidebar) {
      flex: 1 0 100%;
      left: -200px;
      padding-top: 3.999rem;

      .page--show-sidebar & { left: 0; }
    }
  }
}
