
@import '../config-fonts.scss';
@import '../config-colors.scss';


$dim-content:   1000px;
$dim-icon:        48px;
$dim-icon-sm:     24px;

$dim-listing-card-width:    360px;
$dim-listing-card-height:   200px;
$listing-card-bg-opacity:   0.2;


$color-primary:         $blue-grey-500; /* fg white */
$color-primary-dark:    $blue-grey-700; /* fg white */
$color-primary-lite:    $blue-grey-100; /* fg black */

$color-accent:      $green-A200; /* fg black */
$color-accent-dark: $green-A700; /* fg black */
$color-accent-lite: $green-A100; /* fg black */


$gap-tiny:       5px;
$gap-small:     10px;
$gap-medium:    20px;
$gap-large:     40px;
$gap-huge:      80px;

