
@mixin absolute($pos, $dist: 0px) {
    @include position_at(absolute, $pos, $dist);
}


@mixin bgfg($bg, $fg) {
    background: $bg;
    color: $fg;
}

@mixin bgfg_accent          { @include bgfg($color-accent       , $black-text   ); }
@mixin bgfg_accent_dark     { @include bgfg($color-accent_dark  , $black-text   ); }
@mixin bgfg_accent_lite     { @include bgfg($color-accent_lite  , $black-text   ); }
@mixin bgfg_primary         { @include bgfg($color-primary      , $white-text   ); }
@mixin bgfg_primary_dark    { @include bgfg($color-primary_dark , $white-text   ); }
@mixin bgfg_primary_lite    { @include bgfg($color-primary_lite , $black-text   ); }
@mixin bgfg_facebook        { @include bgfg($color-facebook     , $white-text   ); }
@mixin bgfg_twitter         { @include bgfg($color-twitter      , $black-text   ); }
@mixin bgfg_tumblr          { @include bgfg($color-tumblr       , $white-text   ); }
@mixin bgfg_youtube         { @include bgfg($color-youtube      , $white-text   ); }

@mixin bgfg_whiteblack {
    background: $white;
    color: $black-text;
}


@mixin clearfix {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}


@mixin corner_top_left      ($dist: 0px) {  top:    $dist;  left:   $dist; }
@mixin corner_top_right     ($dist: 0px) {  top:    $dist;  right:  $dist; }
@mixin corner_bottom_left   ($dist: 0px) {  bottom: $dist;  left:   $dist; }
@mixin corner_bottom_right  ($dist: 0px) {  bottom: $dist;  right:  $dist; }


@mixin edge_top     ($dist: 0px) { top:     $dist;  left:   $dist;  right:  $dist; }
@mixin edge_bottom  ($dist: 0px) { bottom:  $dist;  left:   $dist;  right:  $dist; }
@mixin edge_left    ($dist: 0px) { top:     $dist;  bottom: $dist;  left:   $dist; }
@mixin edge_right   ($dist: 0px) { bottom:  $dist;  bottom: $dist;  right:  $dist; }


@mixin flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}


@mixin position_at($mode, $pos, $dist: 0px) {
    position: $mode;

    @if         $pos == corner_top_left     { @include corner_top_left      ($dist); }
    @else if    $pos == corner_top_right    { @include corner_top_right     ($dist); }
    @else if    $pos == corner_bottom_left  { @include corner_bottom_left   ($dist); }
    @else if    $pos == corner_bottom_right { @include corner_bottom_right  ($dist); }
    @else if    $pos == edge_top            { @include edge_top             ($dist); }
    @else if    $pos == edge_bottom         { @include edge_bottom          ($dist); }
    @else if    $pos == edge_left           { @include edge_left            ($dist); }
    @else if    $pos == edge_right          { @include edge_right           ($dist); }
}


@mixin square($size) {
    width: $size;
    height: $size;
}

