
/*
 * Common (site-wide) styles.
 */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


body {
    @include bgfg_whiteblack;

    font-family: $font-sans;

    font-size: $font-size-base;

    overflow-x: hidden;
}


a {
    color: $color-accent-dark;

    text-decoration: none;

    &:hover {
        color: $color-accent;


        img { opacity: $alpha-white-text; }
    }


    img {
        opacity: $alpha-white-icon;
        vertical-align: middle;

        display: inline-block;
        transition: opacity 0.5s;
    }


    .fragment, 
    .query {
        opacity: $alpha-black-secondary;

        font-size: $font-size-small;
    }
}


form {
    border: $gap-tiny $color-primary solid;

    display: block;


    input[type=password],
    input[type=text],
    textarea {
        @include bgfg_whiteblack;

        border: $gap-tiny $color-primary solid;

        width: 100%;
        min-width: 24em;

        line-height: $font-size-h3;
        padding: $gap-small;

        &:focus { outline: $gap-tiny $color-accent-lite solid; }
    }


    input {
        &[type=checkbox] {
            display: none;


            & + label {
                font-size: $font-size-base;
                line-height: $font-size-h3;


                span {
                    @include square($dim-icon-sm);

                    background-color: $color-primary;
                    background-image: image-url('admin/icons/toggle/unchecked-white-sm.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    vertical-align: middle;

                    margin: 0px $gap-tiny;

                    display: inline-block;
                }
            }


            &:checked + label span {
                background-image: image-url('admin/icons/toggle/checked-white-sm.png');
            }
        }

        &[type=password],
        &[type=text] {
            min-height: $font-size-h3;
        }
    }


    label,
    .pseudo-label {
        font-weight: bold;

        font-size: $font-size-small;
        letter-spacing: 1px;
        line-height: $font-size-small;
        padding: $gap-tiny;

        display: block;
    }


    textarea {
        @include bgfg_whiteblack;

        border: $gap-tiny $color-primary solid;

        width: 100%;
        min-width: 24em;
        min-height: (($font-size-h3 * 5) + ($gap-small * 2) + ($gap-tiny * 2));

        padding: $gap-small;

        line-height: $font-size-h3;
    }


    .actions {
        @include bgfg_primary;

        border-top: $gap-tiny $color-primary solid;

        padding: $gap-small;


        input {
            &[type=submit] {
                @include bgfg_accent;

                border: none;

                font-weight: bold;
                text-transform: uppercase;

                font-size: $font-size-base;
                line-height: 1;
                padding: $gap-small;
            }
        }
    }


    .errors {
        color: $red-700;

        font-size: $font-size-small;
        line-height: $font-size-small;
        padding: $gap-tiny;
    }


    .field {
        padding: $gap-small;
    }


    .field_with_errors {
        label { color: $red-700; }
    }


    .select-wrapper {
        background-color: #fff;
        background-image: image-url('admin/drop-down-black.png');
        background-position: right center;
        background-repeat: no-repeat;
        border: $gap-tiny $color-primary solid;
        color: $black-text;

        width: 100%;
        min-width: 24em;

        overflow-x: hidden;


        select {
            background: transparent;

            width: 104%;

            line-height: $font-size-h3;
            padding: $gap-small;

            &:focus { outline: $gap-tiny $color-accent-lite solid; }
        }
    }


    .two-fields {
        @include flex_row;

        width: 100%;

        .field {
            display: inline-block;
            flex-grow: 1;
        }
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-serif;

    line-height: 1;
}

h1,
h2,
h3 {
    img {
        opacity: $alpha-black-text;
        vertical-align: middle;

        position: relative;

        display: inline-block;
    }
}


h4,
h5,
h6 { font-size: $font-size-big; }


h1 {
    font-size: $font-size-h1;

    margin: $gap-small 0px $gap-medium 0px;


    img {
        @include square($font-size-h1);

        top: -3px;
    }
}


h2 {
    font-size: $font-size-h2;


    img {
        @include square($font-size-h2);

        top: -2px;
    }
}


h3 {
    font-size: $font-size-h3;


    img {
        @include square($font-size-h3);

        top: -2px;
    }
}


p {
    margin: 0px 0px $gap-small 0px;

    &:last-child { margin: 0px; }

    &.big {
        text-align: justify;

        font-size: $font-size-big;
    }
}


table {
    border: 1px $color-primary solid;

    width: 100%;


    td {
        border-right: 1px $black-divider dashed;

        padding: $gap-small;

        &:last-child { border: none; }

        &.actions {
            text-align: center;

            min-width: (($dim-icon-sm * 3) + ($gap-tiny * 12) + ($gap-small * 8));


            a {
                color: $black-icon;

                line-height: 1;
                margin: 0px $gap-tiny;
                padding: $gap-tiny;

                display: inline-block;
                transition: background 0.5s, color 0.5s;

                &:hover {
                    background: $color-accent-lite;
                    color: $black-text;


                    img { opacity: $alpha-black-text; }
                }


                img {
                    opacity: $alpha-black-icon;
                    vertical-align: middle;

                    transition: opacity 0.5s;
                }
            }
        }

        &.name { width: 25%; }
    }


    th { padding: $gap-tiny; }


    thead { @include bgfg_primary; }


    tr { &:nth-child(even) { background: rgba($color-primary-lite, $alpha-white-hint); } }
}


.admin-listing-card {
    box-shadow: 0px 2px 4px $black-secondary;
    width: 360px;

    margin-bottom: $gap-large;

    &:nth-child(odd) { margin-right: $gap-large; }

    float: left;

    .association {
        @include bgfg_primary_dark;

        font-weight: bold;

        font-size: $font-size-big;
        padding: $gap-tiny $gap-small;
    }


    .card {
        background-color: #fff;
        color: $black-text;
        text-shadow: 0px 0px 4px $white-text;

        height: 200px;

        padding: $gap-small;

        position: relative;


        a { display: block; }


        p { margin-top: $gap-small; }


        .name { font-size: $font-size-h3; }
    }
}


#site-branding {
    font-family: $font-serif;
    vertical-align: middle;

    font-size: $font-size-h1;
    line-height: ($font-size-h1 + $gap-small);


    img {
        height: ($font-size-h1 + $gap-small);

        margin-right: $gap-small;

        display: block;
        float: left;
    }
}


#site-header,
#site-footer { @include bgfg_primary_lite; }


#site-footer {
    border-top: $gap-small $color-primary solid;
    text-align: right;

    padding: $gap-medium $gap-medium ($gap-huge * 2) $gap-medium;


    a {
        @include bgfg_accent;

        box-shadow: 0px 2px 2px $black-secondary;

        margin-left: $gap-small;
        padding: $gap-small $gap-medium;

        display: inline-block;
        transition: box-shadow 0.5s;

        &:hover { box-shadow: 0px 2px 4px $black-text; }
    }
}


#site-header {
    border-bottom: $gap-small $color-primary solid;

    padding: $gap-small;
}


#site-login {
    @include bgfg_primary_lite;

    border: $gap-small $color-primary-dark solid;

    max-width: 50%;

    margin: $gap-huge auto;
    padding: $gap-huge;

    position: relative;

    &:before {
        @include absolute(corner_top_right, $gap-small);
        @include square($dim-icon);

        background: url('/assets/admin/icons/warning-black.png');
        opacity: $alpha-black-icon;

        content: "";
    }


    input { margin-right: $gap-small; }
}


#site-main {
    @include clearfix;


    > section {
        margin: $gap-small;
        padding-bottom: $gap-small;

        &.menu {
            border-bottom: $gap-tiny $color-primary solid;


            a {
                border: 1px transparent solid;
                color: $black-text;

                vertical-align: middle;

                margin-right: $gap-small;
                padding: $gap-tiny;

                display: inline-block;
                transition: background 0.5s;

                &:hover {
                    background: $color-accent-lite;


                    img { opacity: $alpha-black-text; }
                }

                &.active {
                    background: $color-accent-lite;
                    border-color: $color-primary;
                }


                img {
                    opacity: $alpha-black-icon;

                    transition: opacity 0.5s;
                }
            }


            .title {
                border-left: 1px $black-divider solid;
                font-weight: bold;
                vertical-align: middle;

                font-size: $font-size-big;
                margin: 0px $gap-small 0px 0px;
                padding-left: $gap-small;

                display: inline-block;

                &:first-child {
                    border: none;

                    padding-left: 0px;
                }
            }
        }

        &:not(.menu) {
            @include bgfg_whiteblack;

            width: 100%;
            max-width: $dim-content;

            margin: $gap-large auto;
            padding: $gap-small;
        }
    }
}

