
form {
    border: $gap-tiny $color-primary solid;

    display: block;


    input[type=password],
    input[type=text],
    textarea {
        @include bgfg_whiteblack;

        border: $gap-tiny $color-primary solid;

        width: 100%;
        min-width: 24em;

        line-height: $font-size-h3;
        padding: $gap-small;

        &:focus { outline: $gap-tiny $color-accent-lite solid; }
    }


    input {
        &[type=checkbox] {
            display: none;


            & + label {
                font-size: $font-size-base;
                line-height: $font-size-h3;


                span {
                    @include square($dim-icon-sm);

                    background-color: $color-primary;
                    background-image: image-url('icons/toggle/unchecked-white-sm.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    vertical-align: middle;

                    margin: 0px $gap-tiny;

                    display: inline-block;
                }
            }


            &:checked + label span {
                background-image: image-url('icons/toggle/checked-white-sm.png');
            }
        }

        &[type=password],
        &[type=text] {
            min-height: $font-size-h3;
        }
    }


    label,
    .pseudo-label {
        font-weight: bold;

        font-size: $font-size-small;
        letter-spacing: 1px;
        line-height: $font-size-small;
        padding: $gap-tiny;

        display: block;
    }


    textarea {
        @include bgfg_whiteblack;

        border: $gap-tiny $color-primary solid;

        width: 100%;
        min-width: 24em;
        min-height: (($font-size-h3 * 5) + ($gap-small * 2) + ($gap-tiny * 2));

        padding: $gap-small;

        line-height: $font-size-h3;
    }


    .actions {
        @include bgfg_primary;

        border-top: $gap-tiny $color-primary solid;

        padding: $gap-small;


        input,
        a,
        button {
            @include bgfg_accent;

            border: none;

            font-weight: bold;
            text-transform: uppercase;

            font-size: $font-size-base;
            line-height: 1;
            margin-right: $gap-small;
            padding: $gap-small;

            display: inline-block;
        }
    }


    .errors {
        color: $red-700;

        font-size: $font-size-small;
        line-height: $font-size-small;
        padding: $gap-tiny;
    }


    .field {
        padding: $gap-small;
    }


    .field_with_errors {
        label { color: $red-700; }
    }


    .listing-image {
        width: $dim-listing-width;
        height: $dim-listing-height;

        position: relative;

        z-index: 0;


        img {
            max-width: 100%;
            max-height: 100%;

            position: absolute;
            bottom: 0px;
            right: 0px;

            &:nth-child(1) {
                z-index: 1;
            }

            &:nth-child(2) {
                opacity: $listing-bg-opacity;

                z-index: 2;
            }
        }
    }


    .select-wrapper {
        background-color: #fff;
        background-image: image-url('admin/drop-down-black.png');
        background-position: right center;
        background-repeat: no-repeat;
        border: $gap-tiny $color-primary solid;
        color: $black-text;

        width: 100%;
        min-width: 24em;

        overflow-x: hidden;


        select {
            background: transparent;

            width: 104%;

            line-height: $font-size-h3;
            padding: $gap-small;

            &:focus { outline: $gap-tiny $color-accent-lite solid; }
        }
    }


    .two-fields {
        @include flex_row;

        width: 100%;

        .field {
            display: inline-block;
            flex-grow: 1;
        }
    }
}

