
/*
 * Common (site-wide) styles.
 */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


body {
    @include bgfg_whiteblack;

    font-family: $font-sans;

    font-size: $font-size-base;

    overflow-x: hidden;
}


a {
    color: $color-accent-dark;

    text-decoration: none;

    &:hover {
        color: $color-accent;


        .icon,
        .icon-sm { 
            &.black { opacity: $alpha-black-text; }
            &.white { opacity: $alpha-white-text; }
        }
    }


    .fragment, 
    .query {
        opacity: $alpha-black-secondary;

        font-size: $font-size-small;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-serif;

    line-height: 1;
}


h4,
h5,
h6 { font-size: $font-size-big; }


h1 {
    font-size: $font-size-h1;

    margin: $gap-small 0px $gap-medium 0px;


    .icon,
    .icon-sm { top: -3px; }
}


h2 {
    font-size: $font-size-h2;


    .icon,
    .icon-sm { top: -2px; }
}


h3 {
    font-size: $font-size-h3;


    .icon,
    .icon-sm { top: -2px; }
}


p {
    margin: 0px 0px $gap-small 0px;

    &:last-child { margin: 0px; }

    &.big {
        text-align: justify;

        font-size: $font-size-big;
    }
}


.admin-lists-listing {
    width: $dim-listing-width;

    margin-bottom: $gap-large;

    &:nth-child(odd) { margin-right: $gap-large; }

    float: left;

    .association {
        @include bgfg_primary_dark;

        font-weight: bold;

        font-size: $font-size-big;
        margin-bottom: $gap-small;
        padding: $gap-tiny $gap-small;


        .action-link {
            line-height: 1;

            float: right;
        }
    }
}


.icon,
.icon-sm {
    vertical-align: middle;

    position: relative;

    display: inline-block;
    transition: opacity 0.5s;

    &.black { opacity: $alpha-black-icon; }
    &.white { opacity: $alpha-white-icon; }
}


.icon { @include square($dim-icon); }


.icon-sm { @include square($dim-icon-sm); }


#site-branding {
    font-family: $font-serif;
    vertical-align: middle;

    font-size: $font-size-h1;
    line-height: ($font-size-h1 + $gap-small);


    img {
        height: ($font-size-h1 + $gap-small);

        margin-right: $gap-small;

        display: block;
        float: left;
    }
}


#site-header,
#site-footer { @include bgfg_primary_lite; }


#site-footer {
    border-top: $gap-small $color-primary solid;
    text-align: right;

    padding: $gap-medium $gap-medium ($gap-huge * 2) $gap-medium;


    a {
        @include bgfg_accent;

        box-shadow: 0px 2px 2px $black-secondary;

        margin-left: $gap-small;
        padding: $gap-small $gap-medium;

        display: inline-block;
        transition: box-shadow 0.5s;

        &:hover { box-shadow: 0px 2px 4px $black-text; }
    }
}


#site-header {
    border-bottom: $gap-small $color-primary solid;

    padding: $gap-small;
}


#site-main {
    @include clearfix;


    > section {
        margin: $gap-small;
        padding-bottom: $gap-small;

        &.menu {
            border-bottom: $gap-tiny $color-primary solid;


            a {
                border: 1px transparent solid;
                color: $black-text;

                vertical-align: middle;

                margin-right: $gap-small;
                padding: $gap-tiny;

                display: inline-block;
                transition: background 0.5s;

                &:hover { background: $color-accent-lite; }

                &.active {
                    background: $color-accent-lite;
                    border-color: $color-primary;
                }
            }


            .title {
                border-left: 1px $black-divider solid;
                font-weight: bold;
                vertical-align: middle;

                font-size: $font-size-big;
                margin: 0px $gap-small 0px 0px;
                padding-left: $gap-small;

                display: inline-block;

                &:first-child {
                    border: none;

                    padding-left: 0px;
                }
            }
        }

        &:not(.menu) {
            @include bgfg_whiteblack;

            width: 100%;
            max-width: $dim-content;

            margin: $gap-large auto;
            padding: $gap-small;
        }
    }
}


@import 'site-forms.scss';
@import 'site-tables.scss';

@import 'page-lists.scss';
@import 'page-sessions.scss';

@import '../lists-listing.scss';

