body[data-controller=pages] {
  &[data-action=home] {
    h1 {
      background: rgba($color-primary, 0.5);
      border: 2px rgba($white, $fg-black-alpha) solid;
      color: rgba($white, $fg-black-alpha);
      display: inline-block;
      font-size: 90px;
      margin: 0;
      padding: 0.2em;

      @media screen and (max-width: 710px) { font-size: 70px; }
      @media screen and (max-width: 550px) { font-size: 55px; }
      @media screen and (max-width: 470px) { font-size: 40px; }
    }

    .header {
      @include align-items(center);
      background-color: $color-primary;
      background-image: image-url('pages/home/header.jpg');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      height: 50vh;
      overflow: hidden;
      position: relative;

      &__content {
        @include flex(1 0 100%);
        @include fg-white;
        line-height: 1;
        text-align: center;
        z-index: 10;
      }

      &__subheading {
        @include heading--font;
        font-size: 60px;
        text-shadow: 0 0 0.5em $fg-black;

        @media screen and (max-width: 710px) { font-size: 45px; }
        @media screen and (max-width: 550px) { font-size: 40px; }
        @media screen and (max-width: 470px) { font-size: 30px; }
      }

      video {
        @include position(absolute, 0 0 0 0);
        margin: auto;
        min-height: 100%;
        min-width: 100%;
        z-index: 0;

        @media screen and (max-width: 1366px) { display: none; }
      }
    }

    .page--home__about-us {
      columns: 2;
      column-gap: $common--margin;

      @include breakpoint(page, hidden_sidebar) {
        columns: 1;
      }
    }
  }
}
