$black: #000;
$white: #fff;

$fg-black-alpha: 0.87;
$fg-white-alpha: 1.0;
$fg-black: rgba($black, $fg-black-alpha);
$fg-white: rgba($white, $fg-white-alpha);

$fg-divider-alpha: 0.12;
$fg-black-divider: rgba($black, $fg-divider-alpha);
$fg-white-divider: rgba($white, $fg-divider-alpha);

@mixin fg-black {
  color: rgba(#000, 0.87);

  a {
    border-bottom-color: rgba(#00c853, 0.87);
    color: rgba(#00c853, 0.87); // green A200
    padding-left: 0.25em;
    padding-right: 0.25em;

    &:hover { background-color: rgba($fg-black, $fg-divider-alpha); }
  }

  .--fg-secondary { color: rgba(#000, 0.54); }

  .--fg-disabled,
  .--fg-hint,
  .--fg-icon { color: rgba(#000, 0.38); }

  .--fg-divider { color: $fg-black-divider; }
}

@mixin fg-white {
  color: rgba(#fff, 1.0);

  a {
    border-bottom-color: rgba(#b9f6ca, 1.0);
    color: rgba(#b9f6ca, 1.0); // green A100

    &:hover { background-color: rgba($fg-white, $fg-divider-alpha); }
  }

  .--fg-secondary { color: rgba(#fff, 0.7); }

  .--fg-disabled,
  .--fg-hint,
  .--fg-icon { color: rgba(#fff, 0.5); }

  .--fg-divider { color: $fg-white-divider }
}

%--fg-black { @include fg-black; }

%--fg-white { @include fg-white; }

%--bg-gray-100 {
  background-color: #F5F5F5;
  @extend %--fg-black;
}

%--bg-gray-200 {
  background-color: #EEEEEE;
  @extend %--fg-black;
}

%--bg-gray-500 {
  background-color: #9E9E9E;
  @extend %--fg-black;
}

%--bg-gray-800 {
  background-color: #424242;
  @extend %--fg-white;
}

%--bg-gray-900 {
  background-color: #212121;
  @extend %--fg-white;
}

%--bg-indigo-500 {
  background-color: #3F51B5;
  @extend %--fg-white;
}

%--bg-indigo-900 {
  background-color: #1A237E;
  @extend %--fg-white;
}

%--bg-white {
  background-color: #fff;
  @extend %--fg-black;
}

.--fg-black { @extend %--fg-black; }
.--fg-white { @extend %--fg-white; }

.--bg-gray-500   { @extend %--bg-gray-500; }
.--bg-gray-800   { @extend %--bg-gray-800; }
.--bg-gray-900   { @extend %--bg-gray-900; }

.--bg-indigo-500 { @extend %--bg-indigo-500; }
.--bg-indigo-900 { @extend %--bg-indigo-900; }

.--bg-white      { @extend %--bg-white; }
