$black: #000;
$white: #fff;

$fg-black-alpha: 0.87;
$fg-white-alpha: 1.0;
$fg-black: rgba($black, $fg-black-alpha);
$fg-white: rgba($white, $fg-white-alpha);

$fg-divider-alpha: 0.12;
$fg-black-divider: rgba($black, $fg-divider-alpha);
$fg-white-divider: rgba($white, $fg-divider-alpha);

$fg-black-hint-alpha: 0.38;
$fg-white-hint-alpha: 0.5;
$fg-black-hint: rgba($black, $fg-black-hint-alpha);
$fg-white-hint: rgba($white, $fg-white-hint-alpha);

@mixin fg-black {
  color: rgba(#000, 0.87);

  .fg-secondary { color: rgba(#000, 0.54); }

  .fg-disabled,
  .fg-hint,
  .fg-icon { color: $fg-black-hint; }

  .fg-divider { color: $fg-black-divider; }
}

@mixin fg-white {
  color: rgba(#fff, 1.0);

  .fg-secondary { color: rgba(#fff, 0.7); }

  .fg-disabled,
  .fg-hint,
  .fg-icon { color: $fg-white-hint; }

  .fg-divider { color: $fg-white-divider }
}

// primary = indigo
$color-primary: #3F51B5; // 500; fg white
$color-primary-lite: #7986CB; // 300; fg white
$color-primary-dark: #303F9F; // 700; fg white

// accent = green
$color-accent: #69F0AE; // A200; fg black
$color-accent-lite: #B9F6CA; // A100; fg black
$color-accent-dark: #00C853; // A700; fg black

@mixin bg-white {
  @include fg-black;
  background-color: $white;

  a {
    border-bottom-color: $color-primary-lite;
    color: $color-primary;

    &:hover { color: $color-primary; }
  }
}

@mixin bg-primary {
  @include fg-white;
  background-color: $color-primary;

  a {
    border-bottom-color: transparent;
    color: $color-accent;

    &:hover { color: $color-accent-lite; }
  }
}

@mixin bg-primary-lite {
  @include fg-white;
  background-color: $color-primary-lite;

  a {
    border-bottom-color: transparent;
    color: $color-accent;

    &:hover { color: $color-accent-dark; }
  }
}

@mixin bg-primary-dark {
  @include fg-white;
  background-color: $color-primary-dark;

  a {
    border-bottom-color: transparent;
    color: $color-accent;

    &:hover { color: $color-accent-lite; }
  }
}

@mixin bg-accent {
  @include fg-black;
  background-color: $color-accent;

  a {
    border-bottom-color: transparent;
    color: $color-primary;

    &:hover { color: $color-primary-lite; }
  }
}

@mixin bg-accent-dark {
  @include fg-black;
  background-color: $color-accent-dark;

  a {
    border-bottom-color: transparent;
    color: $color-primary;

    &:hover { color: $color-primary-lite; }
  }
}

@mixin bg-pale {
  @include fg-black;
  background-color: #F5F5F5;

  a {
    border-bottom-color: transparent;
    color: $color-primary;

    &:hover { color: $color-primary; }
  }
}

@mixin bg-pale-dark {
  @include fg-black;
  background-color: #E0E0E0;

  a {
    border-bottom-color: transparent;
    color: $color-primary;

    &:hover { color: $color-primary; }
  }
}

.bg-white { @include bg-white; }
.bg-primary { @include bg-primary; }
.bg-primary-lite { @include bg-primary-lite; }
.bg-primary-dark { @include bg-primary-dark; }
