@import 'app/settings';
@import 'bourbon';

@import 'lib';

@import 'app/breakpoints';
@import 'app/colors';
@import 'app/fonts';
@import 'app/icons';
@import 'app/mixins';

%--hidden { display: none; }

*,
*:before,
*:after {
  @include prefixer(box-sizing, border-box, moz webkit spec);
  @include prefixer(overflow-scrolling, touch, webkit);

  @include prefixer(font-smoothing, antialiased, webkit);
  @include prefixer(osx-font-smoothing, auto, moz);
  font-smooth: always;
}

a {
  @include transition(background-color 0.2s,
                      border-bottom-color 0.2s,
                      border-bottom-style 0.2s
                      color 0.2s);
  background-color: transparent;
  border-bottom: 1px transparent dashed;
  text-decoration: none;

  &:hover { border-bottom-style: solid; }
}

body {
  @include common--font;
  font-size: $em-base;
  min-height: 100vh;

  @media screen and (max-width: 700px) {
    font-size: $em-base-small;
  }
}

h1,
h2,
h3 { @include heading--font(true); }

iframe { border-width: 0; }

.constrained {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
}

.--hidden { @extend %--hidden; }

.--margin { margin: $common--margin; }

@import 'app/blocks';

@import 'app/controllers';
