@import 'app/settings';
@import 'bourbon';

@import 'lib';

%--hidden { display: none; }

*,
*:before,
*:after {
  @include prefixer(box-sizing, border-box, moz webkit spec);
  @include prefixer(overflow-scrolling, touch, webkit);

  @include prefixer(font-smoothing, antialiased, webkit);
  @include prefixer(osx-font-smoothing, auto, moz);
  font-smooth: always;
}

a {
  @include transition(border-bottom-color 0.2s,
                      color 0.2s);
  border-bottom: 1px transparent dashed;
  text-decoration: none;
}

body {
  font-size: $em-base;
  min-height: 100vh;
}

iframe { border-width: 0; }

.--hidden { @extend %--hidden; }

@import 'app/breakpoints';
@import 'app/colors';
@import 'app/icons';
@import 'app/mixins';

@import 'app/blocks';
