
#site-page-lists-index {
    #site-main { @include inner_section_cards; }
}


#site-page-lists-show {
    .listing,
    #lists-getting-listed,
    #lists-section-intro { @extend %card; }


    .listing {
        background-color: #fff;
        background-image: url('/images/lists/default_card_image.jpg');
        background-repeat: no-repeat;
        text-shadow: 0px 0px 4px $white-secondary;

        width: $dim-listing-width;
        height: $dim-listing-height;

        margin-bottom: $gap-large;

        position: relative;

        display: inline-block;
        overflow: hidden;
        float: left;
        z-index: 0;

        &:nth-child(odd) { margin-right: $gap-large; }


        a {
            color: $white-text;
            white-space: nowrap;

            font-size: $font-size-small;
            padding: 2px $gap-small;

            display: block;
            overflow: hidden;
        }


        p {
            margin-top: $gap-small;
            padding: 0px $gap-small;
        }


        .accepts-custom {
            opacity: $alpha-black-icon;

            position: absolute;
            top: $gap-small;
            right: $gap-small;
        }


        .bg {
            opacity: 0.2;

            max-width: 100%;
            max-height: 100%;

            position: absolute;
            bottom: 0px;
            right: 0px;

            z-index: -1;
        }


        .links {
            background: rgba($color-primary-dark, $alpha-black-hint);
            font-weight: bold;
            text-shadow: none;

            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }


        .name {
            font-size: $font-size-h3;
            padding: $gap-small $gap-small $gap-tiny $gap-small;
        }
    }


    .lists-section {
        @include clearfix;

        opacity: 0;

        margin-left: $dim-sidebar;

        position: relative;
        right: -50%;
    }


    #lists-getting-listed {
        margin-top: $gap-huge;

        clear: both;
    }


    #lists-section-intro {
        position: relative;
    }


    #lists-storage { display: none; }
}

