
#site-page-news {
    article,
    #news-intro,
    #news-tumblr-link,
    #news-twitter-link { @extend %card; }


    #news-articles {
        margin: $margin-card 0px;


        article {
            .heading {
                @include bgfg_accent;


                h1 {
                    margin: 0px;
                    padding: $gap-small;
                }
            }


            .news-post-date {
                @include absolute(corner_top_right, $gap-small);

                font-size: $font-size-small;
                line-height: $font-size-h1;
            }


            .news-read-more {
                @include bgfg_tumblr;


                a {
                    color: $white-text;
                }


                img {
                    vertical-align: middle;

                    margin-right: $gap-small;
                }
            }
        }
    }
}

